*~
*.bak
*.tmp
*.log
*.ign
*.out
.cargo/
opt/
*.tar.gz
var/
fcos.qcow2
/.gtm/
/.idea/workspace.xml
/docker-compose/nextcloud/proxy/certs/
/docker-compose/nextcloud/proxy/html/.well-known/
/docker-compose/gitbucket/plugins

/podman-compose/nextcloud/nginx-autoletsenrypt
/podman-compose/dnsrobocert/dnsrobocert/config.yml
/podman-compose/dnsrobocert/cert/
/podman-compose/dnsrobocert/cert*/
/coreos/libvirt/netcup.fcc
/coreos/libvirt/netcup-local.fcc
/docker/certbot-netcup/Dockerfile
