*~
*.bak
*.tmp
*.log
*.ign
fcos.qcow2
/.gtm/
/.idea/workspace.xml
/docker-compose/nextcloud/proxy/certs/
/docker-compose/nextcloud/proxy/html/.well-known/
/docker-compose/gitbucket/plugins

/podman-compose/nextcloud/nginx-autoletsenrypt
