htpasswd
data/
db.env
db-export.env
create.sql
docker-compose/wordpress/wp/
*~
*.bak
*.tmp
*.log
*.ign
*.out
.cargo/
.rustup/
opt/
*.tar.gz
*.deb
*.rpm
var/
fcos.qcow2
/.gtm/
/.idea/workspace.xml

/coreos/libvirt/*.img
/coreos/libvirt/*.gz
/coreos/libvirt/*.qcow2
/coreos/libvirt/*.fcc
/coreos/libvirt/*.orig
/coreos/libvirt/*.log.json
/coreos/libvirt/*.gone

/docker/certbot-netcup/Dockerfile

/docker-compose/nextcloud/proxy/certs/
/docker-compose/nextcloud/proxy/html/.well-known/
/docker-compose/gitbucket/plugins

/podman-compose/nextcloud/nginx-autoletsenrypt
/podman-compose/dnsrobocert/dnsrobocert/config.yml
/podman-compose/dnsrobocert/cert/
/podman-compose/dnsrobocert/cert*/

/build-with-docker/log
/build-with-docker/out.txt
/build-with-docker/.fpm
/build-with-docker/pacur.json
/build-with-docker/spotifyd-*

/docker-compose/nextcloud-spreed/docker-compose.yml
/docker-compose/nextcloud-spreed/server.conf
/docker-compose/nextcloud-spreed/scripts/env.sh
/docker-compose/nextcloud-spreed/coturn-only-compose.yml

/scripts/fpm
/scripts/aws
/scripts/aws_completer
