# never forget the 'export' at start of line

export REMOTE_PROXY_HOST=localhost
export REMOTE_PROXY_PORT=8080
export REMOTE_SOCKS_HOST=localhost
export REMOTE_SOCKS_PORT=1080
export REMOTE_PROXY_USER=user
export REMOTE_PROXY_PW=pass

