WORDPRESS_DB_HOST=nc_db_1
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=<whatever>
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DEBUG=1
WORDPRESS_SERVERNAME=<not_working>
WORDPRESS_SERVER_NAME=<not_working>
